/*
Theme Name: NRGmix Copy
Theme URI: http://apux.org
Description: Wordpress theme modded from TwentyTen for nrg.wustl.edu
Author: Mike Hirshon and Will Horton
Version: 3.1
Tags: neuroinformatics, nrg, awesome
*/

/*TOP RIGHT BOTTOM LEFT*/



/*============== FONTS ===========*/


.module span,
#rightbar li, #page_side li,
.navigation, .entry-module span,
#footer, #colophon, #site-info p, #edit-footer a {
	font-family: DroidSansRegular, "droid sans", georgia, helvetica !important;
}

h1, h2, h3, h4, h5, h6,
#right h1, #right h2, #right h3, #right h4, #right h5, #right h6,
#top h1, #top h2, #top h3, #top h4, #top h5,
#links a, #links span, .thumbNav_pages span a,
ul li strong, #left ul li, #left li li, #left ul li li, #left ul,
.ddsg-wrapper li, #site-info a, #site-generator a, entry-meta {
	font-family: DroidSansBold, "droid sans", helvetica, georgia !important; font-weight: bold;
}

p, li {	font: 100%/1.6em arial, helvetica, verdana, sans-serif; }

tt, code, pre, dfn { font-family: consolas, courier, DroidSansRegular, "droid sans", monospace; color: #3366cc; }


/*================ UNIVERSALS =============*/

/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
*/

/*============= HEADINGS and LINKS =========*/

h1 { font-size: 28px }
h2 { font-size: 21px }
h3 { font-size: 16px }
h4 { font-size: 13px; margin:0; }
h5 { font-size: 11px }
h6 { }

/* cant remember why we specified this
span {
	color: #9c9c9c;
	display: block;
	margin-bottom: 10px; }
*/

body { background: #e0e0e0; margin: 0 auto; }
body,
input,
textarea {
	color: #444;
	font-size: 13px;
	line-height: 1.5em;
}

a img {	border: none; }
a { text-decoration: none; }
a:link, a:visited {	color: #000; }
a:hover, #subpage a:hover { color: #ff4b33; }

/* ============LISTS, TABLES, INPUTS============= */
ul {
	margin: 0 0 18px 0;
	list-style: square;
}
ul li {  }
ol { margin: 0 0 18px 0; }

ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}


input[type="text"],
textarea {
	background: #f9f9f9;
	border: 1px solid #ccc;
	padding: 2px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	color: #444;
	font: 13px/18px "Droid Sans",Arial,sans-serif;
	margin-bottom:1em;
}
tbody, td, th {
	padding:3px 8px;
	text-align:left;
}
th {
	background: #ccc;
}
tr:nth-child(2n) {
	background: #f0f0f0;
}

/*===============Page Structure=================*/

#access .menu-header,
div.menu, #main,
#wrapper {
	margin: 0 auto;
	width: 1024px !important;
	padding: 0 10px;
}
#wrapper {
	position: relative;
	z-index: 90

}

#main {
	clear: both;
	overflow: hidden;
	padding: 0px 0 0 0;
	background-color: #e0e0e0;
	position: relative;
	z-index: 0;
}

#header {
	padding-top: 40px;
}

#left {

	width: 217px;
	min-height: 440px;
	float: left;
	background-color: #E0E0E0;
}

#right {
	width: 807px;
	margin-top: 163px;
	display: block;
	float: right;
	background-color: white;
	padding-top: 20px;
	position: relative;
	z-index: 9;
}

#right h1, #top h1,
#right h2, #top h2,
#right h3, #top h3,
#right h4, #top h4,
#right h5, #top h5,
#right h6 {
	color: #000;
	line-height: 1.5em;
	margin: 0;
}

#breadcrumbs {
	color: #039; /* NEW LINK COLOR */
	font-size: 11px;
	margin-top: -15px;
	padding: 5px 10px;
	font-family: Arial, Helvetica, sans-serif;
}

#breadcrumbs a { color: #039; }


.module {
	float: left;
	width: 200px;
	padding-right: 50px;
	padding-bottom: 60px;
}
.module span {  }

#modules {
	width: 807px;
	margin-top: 0px;
	padding: 20px 40px 40px 40px;
}
#modules h3 { text-transform: capitalize }

.index_module {
	float: left;
	width: 330px;
	margin: 20px 0 20px 32px;
	min-height: 200px; }

.index_module_right {
	float: left;
	margin-left: 20px
}
.index_module_right h2 { line-height: 1.2 !important; width: 200px; }
.index_module_right p { width: 200px; }

.index_module_left { float: left; }
.index_module_left a { text-align: right; }
.index_module_left img { height: 100px; width: 100px; }

#index_header { width: 680px; margin: 30px 0px 30px 30px;}
#index_header h2 { padding-bottom: 12px; }

.post_jobs, .post_events, .post_news, .post_modern { margin-bottom: 30px; }
.post_events h3 a { color: #72b75e }
.post_jobs h3 a { color: #ea1661 }
.post_news h3 a { color: #3b7eb1 }

#rightbar { float: left; margin: 20px 0px 0 150px; width: 190px; }
#rightbar li { text-indent: 0px; margin-top: 5px; }

#links {
	width: 205px;
	margin: 13px 0 0px 0;
	/*	text-align: right; */
	float: right;
}

#links a, #links span {
	background: #D0D0D0 url('images/tab_shadow-rt.png') right no-repeat;
	color: #000;
	display: block;
	font-size: 16pt;
	line-height: 30pt;
	margin: 3px 0 0;
	padding-left: 10px;
	text-decoration: none;
}

#links a:hover, #links span:hover, #links a:visited:hover, #links a:active, #page_side a:hover {
	background: #ffffff;
}

#page_side {
	width: 200px;
	margin: 13px 5px 0 0;
	padding: 0 0 10px 0;
	/*	text-align: right; */
	float: right;
	background-color: white;
}

#page_side h2 {
	padding: 10px 0 0 10px;
	margin: 0 0 5px;
}

#page_side ul {
	border-top: 3px solid #e0e0e0;
	padding: 10px 0 0 10px;
	margin: 5px 0 0 0;
}

#page_side li {
	font-size: 10pt;
	margin-bottom: 4px;
	list-style: none !important;
	padding: 0 0 7px;
	font-weight: normal !important;
	text-transform: capitalize;
}


#page_side ul.children { border: 0; margin: 13px 0 0 13px; padding: 0; }


#search {
	float: right;
	padding: 5px;
	text-align: right;
	width: 300px;
	margin-bottom: -20px;
	position: relative;
	z-index: 9999;
}

.navigation { margin-bottom: 30px; }

#post {
	margin: 40px 0 0 50px;
	width: 682px;
	min-height: 300px;
}

.entry-meta {
	font: 15px/15px "Droid Sans",arial,sans-serif;
	border-bottom:1px dotted #e0e0e0;
	padding-bottom:1em;
}
.entry-content a, .entry-content a:visited {
	color: #039;
}

#subpage {
	margin-left: 36px;
	width: 750px;
	min-height: 500px;
}
.promo {
	background:#fff;
	box-shadow: 0px 4px 8px #e0e0e0;
	margin: 0 0 10px !important;
	min-height:250px;
	padding: 18px 18px 18px 36px;
}
#other3pages { margin: 40px 0 80px 0; }
#other3pages p { margin-top: 20px; }

#subpage .entry-content,
#subpage .entry-content_about { padding-bottom: 30px; float: left; }
#subpage.post_single .entry-content { float: inherit; }
#subpage .entry-content p, #subpage .entry-content_about p { /* padding-top: 20px; */ }
#subpage h1 {
	line-height: 1.2em;
	margin: 19px 0 3px 0;
	max-width: 560px;
}
h1.selective + p { display: block; }
#subpage h2 { margin-top: 20px; }
.project_image {  width: 288px; margin-top:-20px; margin-right:-20px; }
.project_overview { margin: 20px 75px 75px 0; width: 275px; }
.project_overview ul li, .project_overview p { margin-top: 5px; list-style: square; }
.project_overview ul li {  }
.project_right { float: right; max-width: 288px; margin-top: -50px; }

/* Top Nav Tabs
----------------------------------- */

.thumbNav_container	 {
	position: absolute;
	top: 23px;
	left: 227px;
	height: 140px;
	width: 807px;
}
#panel {
	position: absolute;
	top: 163px;
	left: 217px;
	width: 807px;
	z-index: 9999;
}
.thumbNav_pages  {
	vertical-align: bottom;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 8;
}
.thumbNav_pages ul {
	margin: 0;
}
.thumbNav_pages li  {
	background-color: transparent;
	display: inline;
	margin-left: 0px;
	/* margin-right: 6px; */
	width: 44px;
}
.thumbNav_pages ul a:hover  {
	position: relative;
	top: 10px;
	z-index: 0;
}
.thumbNav_pages a {
	border-top: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	color: white;
	display: inline-block;
	width: 44px;
	margin: -8px 0 0 0;
	text-align: center;
}
.thumbNav_pages span a	{
	font-size: 10pt;
	margin-top: 5px;
	width: auto !important;
}
.shadow {
	background: url('images/tab_shadow1.png') repeat-x bottom;
}

/* Content Preview Panel (also home page content box)
---------------------------------------------------------------*/

#panel .pane { min-height: 260px; padding: 8px; position: absolute; top: 0px; left: -1px; z-index: 999999; width: 792px; }
.pane2 { padding: 8px; position: relative; z-index: 999; margin-top: -20px; overflow:auto; }
.pane img, .pane2 img { float: right; max-width: 288px; }
.pane2 p { float: left; width: 420px; padding: 10px 20px 0px 0px; }
.pane2 a { color: #EA1661; }
.pane_content { float: left; width: 420px; padding: 0px 0 0 28px; text-align: left; color: black; }
.pane_content h1 { padding: 24px 0 27px 0; }
.pane_content h3 { font-size: 16pt; padding: 16px 0 0 0 }
.close img { margin: -5px 380px 0px 0px !important; }
.more_info {
	padding: 14px 20px 0 20px;
	height: 20px;
	position: absolute;
	bottom: -20px;
	left: 50px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	z-index: -1 }
.more_info h5 { margin-top: 0; }

/* Content Area
------------------------------------------------ */

#post_single {
	width: 700px;
	margin: 0;
}

#leftbar { min-height: 400px; }

#right_single {
	width: 200px;
	float: right;
	margin: 30px 0 30px 0;
}

#post_single h1, #post h1, #post_single h2, #post h2, #post_single h3 { margin-bottom: 1em; }

#post p { margin-bottom: 30px; }
#post_single p, #post_single li { margin-bottom: 1em; }
#post_single ul { margin-left: 2em; }
#post_single li { list-style: square !important;  }

.video_icon { float: left; margin-left: -20px; margin-top: 2px; width: 16px; }

#edit-footer { background-color: #EA1661; clear: both; padding: 5px 5px 5px 12px; }
#edit-footer a { color: white; }

.alignright {
	float: right; margin: 0 0 1em 1em;
}

.alignleft {
	float: left; margin: 0 1em 1em 0;
}

.wp-caption {
	display:block;
	background: #d7d7d7;
	border-radius: 3px;
	padding: 6px;
}
.wp-caption p {
	color:#666;
	font-family: "Droid Sans",Verdana,sans-serif;
	padding-top: 6px !important;
	margin:0 !important;
}
.wp-caption img {
	/*	width:100%; */
	border: 1px solid #808080;
}

.entry-content .wp-caption {
	margin-top:-5em;
} /* special condition for Event listings. */

.button-small {
	background: #ccc url('images/tab_shadow1.png') repeat-x bottom;
	border: 1px solid #999;
	border-radius: 3px;
	font: 11px "Droid Sans", verdana, sans-serif;
	padding: 3px;
	margin-top: 3px;
	margin-right: 9px;
	display: inline;
}

ul li strong { color: black; }

#left ul li,
#left li li,
#left ul li li,
#left ul {
	list-style: none;
	font-size: 12pt;
	/*	 text-align: right; */
	line-height: 30pt;
	text-decoration: none;
	color: #000; }

#left ul li li { margin: 0px; font-size: 8pt; line-height: 12pt; }
#left ul li { margin: 0px; font-size: 10pt; line-height: 15pt; width:180px; }

span.sidebar-nav-date { color: #000; display: block; font-size: 11px; font-family: Arial, Helvetica, sans-serif; text-transform: uppercase; margin: 3px 0; }
#page_side span.sidebar-nav-date { color: rgb(51, 51, 204);  margin: 3px 0pt -3px; }

.header_image { margin-bottom: 20px; height: 20px; width: auto; }
.search-results { width: 500px; }

.people { margin: 20px 70px 0 0; padding-left:100px; }
.people img { clear:left; float: left !important; margin-left:-100px; }
.people h3 { text-align: left !important;}
.people p { margin-bottom:2em; }
.people div { border-bottom:1px solid #ccc; min-height: 100px; margin:1em 0; }

.wiki_link_ext { background-image: url(http://www.xnat.org/i/a.gif); padding-right: 10px; background-position: 100% 50%; background-repeat: no-repeat; }
.post-edit-link a { margin: 30px 0 30px 0 !important; }

/*=======Site Map=======*/

.ddsg-wrapper { margin: 0; }
.ddsg-wrapper li { font-size: 13px; line-height: 1.2; margin: 13px;}
.ddsg-wrapper li li { list-style: square; font-weight: normal; margin-bottom: 0 }
.ddsg-wrapper ul { margin: 30px 0 20px 0; padding-left: 13px; }
.ddsg-wrapper ul ul { margin: 0; }
.ddsg-wrapper ul ul a, .ddsg-wrapper ul ul a:visited { color: gray }
#posts_map { float:left; margin: 0 50px 100px 0; width:400px; }
#pages_map { float: left; width: 200px; margin-bottom: 100px;  }


/*======Content======*/

.entry-content label {
	display:block;
	float:none;
	font-size:16px;
	margin-bottom: -5px;
	width:auto;
}
.entry-content input, .entry-content textarea {
	border-color:#B7B7B7 #E8E8E8 #E8E8E8 #B7B7B7;
	font-family: georgia, helvetica, arial, verdana;
	border-style:solid;
	border-width:1px;
	font-size:16px;
	color:#333;
	margin-bottom: 20px;
	margin-top: 0px;
	max-width: 375px;
	max-height: 100px;
}

.entry-module {
	/* width: 380px; */
	border-bottom: 1px dotted #ccc;
	padding: 20px;
}
.entry-module h2 { text-transform: capitalize }

.entry-module:nth-child(2n) { /* background-color: #eae9e9; */ }

.entry-module a:hover { text-decoration: underline }
.entry-module span { }
form em { font-size: 9pt }

.current_page_item a { font-weight: bold; }
.current_page_item .children a { font-weight: normal !important; }
.pagenav { margin-right: -19px; padding: 0}


/* ============STAFF LISTINGS================ */

.team-photo-array .wp-caption {
	display:block;
	background: #fff;
	padding: 6px;
}
.team-photo-array .wp-caption p { }
.team-photo-array .wp-caption img {
	border: 1px solid #808080;
}

.team-photo-array h1, .team-photo-array h2, .team-photo-array h3, .team-photo-array h4, .team-photo-array h5, .team-photo-array h6, .team-photo-array hr {
	clear: both;
	display: block;
}

.entry-content .team-photo-array .wp-caption {
	margin-top: 0;
} /* counteract special condition for Event listings. */


/*=============Footer=================== */

#footer, #colophon { width: 807px; color: #5a5a5a; }

#site-info {
	clear: both;
	margin-right: 20px;
	padding: 20px 30px 20px 20px;
	background-color: #c0c0c0;
	font-size: 10pt;
	width: 757px;
}

#site-info p {
	font-size: 8pt;
	text-align: justify;
	width: 727px;
	font-style: italic;
	margin-top: 10px;
}


#site-info a {
	color: #5a5a5a;
}

#site-generator {
	background-color: #e0e0e0;
	padding: 20px;
}

#site-generator a {
	color: #5a5a5a;
	line-height: 16px;
	margin: 0 5px 0 5px;
	font-style: normal;
}

#footer a:hover { color: #E71560; }


/* =Print Style
-------------------------------------------------------------- */

@media print {
	body {
		background: none !important;
	}
	#wrapper {
		clear: both !important;
		display: block !important;
		float: none !important;
		position: relative !important;
	}
	#header {
		border-bottom: 2pt solid #000;
		padding-bottom: 18pt;
	}
	#colophon {
		border-top: 2pt solid #000;
	}
	#site-title,
	#site-description {
		float: none;
		line-height: 1.4em;
		margin: 0;
		padding: 0;
	}
	#site-title {
		font-size: 13pt;
	}
	.entry-content {
		font-size: 14pt;
		line-height: 1.6em;
	}
	.entry-title h1 {
		font-size: 21pt;
	}
	#access,
	#branding img,
	#respond,
	.comment-edit-link,
	.edit-link,
	.navigation,
	.page-link,
	.widget-area {
		display: none !important;
	}
	#container,
	#header,
	#footer {
		margin: 0;
		width: 100%;
	}

	#left,
	.one-column #left {
		margin: 24pt 0 0;
		width: 100%;
	}
	.wp-caption p {
		font-size: 11pt;
	}
	#site-info,
	#site-generator {
		float: none;
		width: auto;
	}
	#colophon {
		width: auto;
	}
	#site-generator a {
		margin: 0;
		padding: 0;
	}
	#entry-author-info {
		border: 1px solid #e7e7e7;
	}
	#main {
		display: inline;
	}
}

/* Text meant only for screen readers */
.screen-reader-text {
	position: absolute;
	left: -9000px;
}

.hentry {
	margin: 0 0 48px 0;
}

.single .hentry {
	margin: 0 0 36px 0;
}

.entry-title {
	color: #000;
	margin-bottom: 10px;
	font-size: 15pt;
	line-height: 19pt;

}

body.page .edit-link {
	clear: both;
	display: block;
}

#DoNotDelete { display: none }

.seminarseries {
	border-top: 2px solid #ea1661;
	margin: 60px 0 0;
	padding-top: 1em;
	clear: both;
}

.staff div {
	overflow: auto;
	width:450px;
}

.staff div img {
	margin-right: 10px;
}

/* adds vertical scroll bars to every page, long or short, to defeat the dreaded page shift. */
html { overflow-y: scroll; }
