/*
    anythingSlider v1.2
    
    By Chris Coyier: http://css-tricks.com
    with major improvements by Doug Neiner: http://pixelgraphics.us/
    based on work by Remy Sharp: http://jqueryfordesigners.com/
*/
.anythingSlider                         { width: 807px; height: 260px; position: relative; margin: -120px 0 0px 0px;  }
.anythingSlider .wrapperSlider          { width: 807px; overflow: auto; height: 260px; margin-left: 0px; position: absolute; top: 90px; left: 0px; }

                                        /* Width below is max for Opera */
.anythingSlider .wrapperSlider ul             { width: 32700px; list-style: none; position: absolute; top: 0; left: 0; background: #e0e0e0;  }
.anythingSlider .wrapperSlider ul li          { display: block; float: left; padding: 0; height: 260px; width: 807px; margin: 0; }

.thumbNav                               { position: relative; top: 0px; text-align: center; }
.thumbNav li                            { display: inline; width: 40px; margin-left: 0px; margin-right: 6px; }
.thumbNav a:hover, .thumbNav a:active 	{ background-image: url(../../images/down_arrow.png); background-repeat: no-repeat; background-position: center bottom; }
.thumbNav a                             { color: white; display: inline-block; width: 40px; margin: -8px 10px 0 0; text-align: center; vertical-align: bottom; }

.thumbNav a:hover, .thumbNav a:active 	{ background-image: url(../../images/down_arrow.png); background-repeat: no-repeat; background-position: center bottom; }
.thumbNav div 							{ float: left; margin-right: -20px; background: transparent !important; }
.thumbNav h2							{ -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); width: auto !important; height: 30px; padding: 10px 22px 10px 10px	 }
	
	
/*
  Prevents
*/
.anythingSlider .wrapperSlider ul ul          { position: static; margin: 0; background: none; overflow: visible; width: auto; }
.anythingSlider .wrapperSlider ul ul li       { float: none; height: auto; width: auto;  }
.subnav span 							  { font-size: 8pt; line-height: 12pt; float: left; margin: 30px;  color: #000; width: 220px; text-align: justify; }
.subnav img 							  { float: right; max-width: 520px !important; margin-top: 5px; margin-right: 5px; } 
.subnav strong 							  { font-family: "droid sans", sans-serif; font-size: 10pt; font-weight: bold; }
